torch==2.1.2
torchvision==0.16.2
onnxruntime-gpu==1.18.0
onnxruntime==1.18.0
transformers==4.51.3
accelerate==0.34.2
bitsandbytes==0.43.3
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.9.5.30
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
numpy<2.0
